.col-2 {
    padding: 0px;
}
.list-group-item:first-child {
    border-top-left-radius: unset;
    border-top-right-radius: unset;
}
.list-group-item:last-child {
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
}
.row {
    height: 100%;
}
.welcome {
    margin-top: 10px;
    margin-left: 20px;
}