<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User page</title>
</head>
<body>
    <h2>Welcome <span th:text="${user.getName()}"></span>!</h2>

    <br/>

    Name: <span th:text="${user.name}"></span><br/>
    Login: <span th:text="${user.login}"></span><br/>

    <br/>
    <form th:action="@{/read}" method="GET" th:if="${roles.contains('ROLE_ADMIN')}">
        <input type="submit" value="Show all users"/>
    </form>
    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout"/>
    </form>
</body>
</html>
