<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User</title>
</head>
<body>
<form method="post">
    <div th:if="${user != null}">
        Id: <input th:type="text" name="id" readonly th:value="${user.id}" >
        Login: <input type="text" name="login" th:value="${user.login}"/>
        Password: <input type="password" name="password"  th:value="${user.password}"/>
        Name: <input type="text" name="name"  th:value="${user.name}"/>
        Admin:<input name="role" type="checkbox" id="role_adm1" th:checked="${#arrays.contains(roles, 'ROLE_ADMIN')}" th:value="ROLE_ADMIN"/>
        User:<input name="role" type="checkbox" id="role_user1" th:checked="${#arrays.contains(roles, 'ROLE_USER')}" th:value="ROLE_USER"/>
        <input formaction="updateUser" type="submit" th:value="${message}"/>
    </div>

    <div th:if="${user == null}">
        Login: <input type="text" name="login"/>
        Password: <input type="password" name="password"/>
        Name: <input type="text" name="name"/>
        Admin:<input name="role" type="checkbox" id="role_adm" th:value="ROLE_ADMIN"/>
        User:<input name="role" type="checkbox" id="role_user" th:value="ROLE_USER"/>
        <input formaction="addUser" type="submit" th:value="${message}"/>
    </div>
</form>
</body>
</html>
