<html>
<head>
    <title>User page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="/css/userPage.css" rel="stylesheet" media="screen" />
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark navbar-fixed-top bg-dark">
        <span class="navbar-brand text-muted">Project name</span>
        <a class="nav navbar-nav ml-auto text-muted" href="/logout">Logout</a>
    </nav>
</header>
<div class="row">
    <div class="col-2">
        <div class="list-group">
            <a href="" class="list-group-item list-group-item-action active" id="navUserPage">User</a>
            <a href="/admin/read" class="list-group-item list-group-item-action">Admin</a>
        </div>
    </div>
    <div class="col-10 bg-light">
        <div class="welcome">
            <h1 class="h3 mb-3 font-weight-normal">User page</h1>
            <p id="welcome"></p>
        </div>
    </div>
</div>

<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/userPage.js"></script>
</body>
</html>
